<div class="container">
    <h2>Treding Movies</h2>
    <div class="grid">

        <div class="col-2">
            <movie-item></movie-item>
        </div>

        <div class="col-2">
            <movie-item></movie-item>
        </div>
        <div class="col-2">
            <movie-item></movie-item>
        </div>
        <div class="col-2">
            <movie-item></movie-item>
        </div>
        <div class="col-2">
            <movie-item></movie-item>
        </div>
        <div class="col-2">
            <movie-item></movie-item>
        </div>
    </div>
</div>